[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "git/gitalias"]
	path = git/gitalias
	url = https://github.com/GitAlias/gitalias
[submodule "dotbot-pip"]
	path = dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "plugins/dotbot-brew"]
	path = plugins/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
